<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../assets/images/caro1.jpg" alt="First slide" style="padding-top: 3%">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../assets/images/caro2.png" alt="Second slide" style="padding-top: 3%">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../assets/images/caro3.png" alt="Third slide" style="padding-top: 3%">
        </mdb-carousel-item>
      </mdb-carousel>
      <!-- //about  -->
      <!--Section: Features v.3-->
<section>

        <!--Section heading-->
        <h2 class="h1 py-5 font-weight-bold text-center">Purpose</h2>
        <!--Section description-->
      
      
        <!--Grid row-->
        <div class="row pt-2">
      
          <!--Grid column-->
          <div class="col-lg-5 text-center text-lg-center">
          <h3 class="pb-3" style="padding-top: 20%; font-size:200%;padding-left: 10%"><b>We are a fashion brand that aspire dreams</b></h3>
          <p style="padding-left:20%" class="text-lg-left pb-5">We are here to align you with a cause. A cause which will serve the dream of today’s generation & prosper the country. With a dream to build schools for those who don’t have an appropriate place to study.</p>
          <button class="w3-btn w3-white w3-border w3-border-red w3-round-large">READ MORE</button>
        </div>
          <!--Grid column-->
      
          <!--Grid column-->
          <div class="col-lg-7 pl-5">
      <img src="../../assets/images/iiii.jpg" alt="" style="padding-left: 10%">
            
          </div>
          <!--Grid column-->
      
        </div>
        <!--Grid row-->
      
      </section>
      <!--Section: Features v.3-->
      <!-- //about ends  -->
<!-- // quality  -->

<
<!-- //  ORGANIC  -->
<div class="container-fluid">
    <h2 class="h1 py-5 font-weight-bold text-center"></h2>
    <div class="container">
    <div class="row row1"> 
        <div class="column coll">
            <div class="view overlay zoom">
                <img src="../../assets/images/shirt1.jpg" style="width:100%">
            </div>
            <div class="view overlay zoom">
                <img src="../../assets/images/polo1.jpg" style="width:100%">
            </div>
             <div class="view overlay zoom">
                <img src="../../assets/images/round 1.jpg" style="width:100%">
             </div>
              <div class="view overlay zoom">
                  <img src="../../assets/images/shirt2.png" style="width:100%">
              </div>
        
        
        
      
          
        </div>
        <div class="column coll">
            <div class="view overlay zoom">
                <img src="../../assets/images/round2.jpg" style="width:100%">
            </div>
            <div class="view overlay zoom">
                <img src="../../assets/images/polo2.jpg" style="width:100%">
            </div>
            <div class="view overlay zoom">
                <img src="../../assets/images/shirt3.jpg" style="width:100%">
            </div>
            <div class="view overlay zoom">
                <img src="../../assets/images/shirt1.jpg" style="width:100%;height: 10%;" >
            </div>
          
        
        
       

        </div>  
        <div class="column coll">
            <div class="view overlay zoom">
                <img src="../../assets/images/polo3.jpg" style="width:100%">
            </div>
            <div class="view overlay zoom">
                <img src="../../assets/images/shirt4.jpg" style="width:100%">
            </div>
            <div class="view overlay zoom">
                <img src="../../assets/images/round3.jpg" style="width:100%"></div>
            <div class="view overlay zoom">
                <img src="../../assets/images/polo4.jpg" style="width:100%">
            </div>
         
        
         
       
        </div>
        <div class="column coll ">
         
         <div class="view overlay zoom">
            <img src="../../assets/images/round4.jpg" class="img-fluid "  style="width:100%">
         </div>
         <div class="view overlay zoom">
            <img src="../../assets/images/poloneck.jpg" class="img-fluid " style="width:100%">
         </div>
        <div class="view overlay zoom">
            <img src="../../assets/images/plain shirt.jpg" class="img-fluid " style="width:100%">
        </div>
       
        </div>
      </div>
    </div>
</div>
<!-- // organic ends  -->
<!-- // products  -->






      
      <!-- //footer  -->



